@font-face {
  font-family: "Overpass";
  src: url("./fonts/overpass-bold.otf");
}

// Turn off css for chrome browser autofill forms
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

body {
  font-family: "Overpass";
  background-color: #f4e1d2;
}

.main {
  margin-bottom: 200px;
}

.jumbotron {
  margin: 0;
  background-image: url("./images/forest.jpg");
  background-size: contain;
}

.site-footer {
  background-color: #86592d;
  padding: 10px 0;
}
