@font-face {
  font-family: "Overpass";
  src: url("./fonts/overpass-bold.otf");
}

body {
  font-family: "Overpass";
}

.jumbotron {
  text-align: left;
  margin: 0;
}

.main {
  margin-bottom: 200px;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0;
}

.test {
  background-image: url("./images/nature-landscape.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}
